# --- Python ---
# Compiled files
__pycache__/
*.pyc
# Odoo-specific cache
.odoo_extra_*.zip
.odoo_sessions
# Testing
.coverage
htmlcov/
.tox/

# --- Odoo Runtime Data ---
# CRITICAL: These MUST NOT be committed as they are user data or dynamic
# The default path for the filestore and sessions is typically $HOME/.local/share/Odoo/
.local/share/Odoo/
# The 'filestore' directory itself if configured to be local to the project
filestore/
# Odoo logs
logs/
# Database backups
backups/
temp/

# --- Frontend/Assets (Odoo) ---
# Odoo compiled web assets
web/static/lib/
# General JavaScript/Node dependencies
node_modules/

# --- IDE/Environment ---
# VS Code
.vscode/

# Docker/Environment variables
*.env
*.env.*

# --- Build/OS Files ---
# Log and Temporary files
*.log
*.tmp
# Mac OS-specific files
**/.DS_Store
# Linux/vim swap files
*~